<% content_for(:title_tag) do %>
   <%= @project.name %> est sur Le Cultivateur
<% end %>

<h2><%= @project.name %></h2>

  <p><%= link_to "Editer", edit_project_path(@project) %>
    <%= link_to "Effacer", project_path(@project), method: :delete %></p>

    <h3>Programme :</h3>
    <ul><% @project.oeuvres.each do |oeuvre| %>
      <li>
        <%= "#{oeuvre.author}, #{oeuvre.name},  #{oeuvre.reference}, #{oeuvre.date}, #{oeuvre.duration}' " %>
        <p><%= link_to "Editer", edit_project_oeuvre_path(@project, oeuvre) %>
    <%= link_to "Effacer", project_oeuvre_path(@project, oeuvre), method: :delete %></p>
      </li>
        <% end %>
    </ul>
    <%= link_to "Ajouter une œuvre", new_project_oeuvre_path(@project) %>
    <%= link_to "Tous les projets", projects_path %>


